.cadlogin{
    background: #46BEF0 url('../imagens/excalibur.jpeg') 100% fixed no-repeat;
    background-position: center;
}
h1{
    font-size: 28px;
    text-shadow: 4px 4px 4px gray;
    color: black;
    font-weight: bolder;
}
.quadro{
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
    text-shadow: 2px 2px 2px white;
    font-size: 22px;
    background: #9fcef7;
    width: 900px;
    height: 480px;
    margin: 100px auto;
}
fieldset{
    width: 800px;
    margin: auto;
}
fieldset table{
    margin: auto;
}
.quadro div{
    width: 200px;
    margin-right: 20px;
    float: right;
}
.quadro div input{
    margin-top: 5px;
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
    border-radius: 5px;
}