RewriteEngine On
#RewriteCond(REQUEST_FILENAME) !-f
#RewriteCond(REQUEST_FILENAME) !-d
#RewriteRule ^(.*)$ index.php?pagina=$1
#RewriteRule ^(.*)$ sair.php?

#<Files "web/css/layout.css">
 #   Order Allow,Deny
  #  Allow from all
#</Files>